

.feature-product-box-container{

        display: grid;
        grid-template-columns: repeat(3,1fr);

}

.feature-product-box{
    text-align: center;
}

@media only screen and (max-width: 600px) {
   
.feature-product-box-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

  }